* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/images/fondoAPI.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #666666;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.toggle-button {
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.toggle-button:hover {
    background-color: #0069d9;
}

p {
    margin-top: 10px;
    color: #666666;
    font-size: 14px;
}
